<div style="background-image: url('https://wallpapercave.com/wp/wp6581241.jpg');
    background-size: cover;">

    <br>

<div class="container">
<div class="card mt-4">
    <div class="card-header" style="background-color: lightgreen;">
        <h4 class="text-center">
            Airline Help desk
        </h4> 
    </div>
    <div class="card-body bg-light">
    <p style="color: blue;">
        <br>
        <b style="font: size 30px"> &nbsp;Online Booking /Refund Help Desk (Monday to Saturday, 0930 Hours - 1730 Hours IST)</b>
        <br>
        &nbsp; Landline Number : 011-24667473 &nbsp;<i class="fa fa-phone" aria-hidden="true"></i>
    
        <br>
        
        &nbsp; Landline Number : 011-24667474 &nbsp;<i class="fa fa-phone" aria-hidden="true"></i>
    
        <br>
        
        &nbsp; E mail ID : ecommerce@airindia.in &nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>
        <br>
        
        &nbsp; E mail ID for bookings in Mobile : mobilebookings@airindia.in &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i>
    </p>
</div>
    
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
