<div style="background-image: url('https://wallpapercave.com/wp/wp6581241.jpg');
    background-size: cover;">

<br>

    <h1 class="text-center" style="font-family: monospace; color: blue">
         Welcome to Airline Refund Policy
    </h1>

    <div class="container pro" style="background-color: honeydew;"
    style="background-image: url('https://wallpapercave.com/wp/wp6581241.jpg');
    background-size: cover;">
        <h4>We endeavour to offer our customers the best</h4>
        <i style="color: red;">**</i> An airlines system where you can view all the policies for the airlines 
        industry. <br> <br>

        <i style="color: red;">**</i> Airlines can manage the way they offer bookings, packages, and 
        how they interact with customers looking to fly with them through the airline management software. <br> <br>

        <i style="color: red;">**</i> We endeavour to offer our customers the best. Direct offers a set of exclusive benefits when you choose to book tickets directly on our website (www.xxxxxxx.com). <br> <br>

        <i style="color: red;">**</i> When booking direct gives you the best, why go anywhere else?. <br> <br>

        <i style="color: red;">**</i> Please note that Direct benefits are applicable for travel within India only (except when travelling on Economy Lite fares). <br>
       
        <br>
        <br>
        <br>
        <br>
        
        1. Free change/cancellation within 24 hours : <br>

          <i>
          Modify or cancel your tickets within 24 hours of booking at no extra cost as long as your travel is at least 7 days in future. <br>
          </i> <br>

        2. Special discounts : <br>
        
        <i>
        We offer exclusive discounts to friends, family, students, senior citizens and the Indian Armed Forces personnel. <br>
        </i> <br>

        3. <i>Download the Vistara Mobile app or log onto www.airvistara.com to book tickets for that well-earned break you’ve been putting off.
           </i>

    </div>

    <br>

</div>



