<div style="background-image: url('https://wallpapercave.com/wp/wp6581241.jpg');
    background-size: cover;">

    <br>

<div class="col-md-4 offset-md-4 mt-5 mb-5">

<div class="card pro">
    <div class="card-header bg-success">
        <h4 class="text-center" style="color: white;">
           <i class="fa fa-user-circle icon"></i> &nbsp; 
           <i>
            My profile
           </i>
        </h4>
    </div>
    <div class="card-body bg-light">
      <p>
          Your Id &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{users.userId}} <br>
          FirstName &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{users.firstName}} <br>
          LastName &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{users.lastName}} <br>
          Email id &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{users.email}} <br>
          Gender &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; {{users.gender}} <br>
          Mobile number &nbsp; &nbsp; &nbsp; : &nbsp; {{users.mobileNumber}} <br>
          User Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; {{users.userName}} <br>
          <!-- Role : {{users.role}} -->
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <button class="btn btn-outline-primary flaot-left" (click)="selectUser(users)">
            <i class="fa fa-edit icon"></i>
        </button>
      </p>
    </div>
</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

