<div class="alert alert-danger" *ngIf="message">
    {{ message }}
  </div>
  <div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      <div class="card-header" style="background-color: lightgreen;">
        <h4>
          Reset Password :
        </h4>
      </div>
  
        <form #resetForm="ngForm" (ngSubmit)="updatePassword(resetForm)">
        <div class="card-body">
        <div class="form-group">
          <label for="email">Enter your email :</label>
          <input type="text" class="form-control" name="email" id="email" required email #email="ngModel" ngModel />
          <div *ngIf="email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors.required">
              <i>Please specify email</i>
            </small>
            <small class="text-danger" *ngIf="email.errors.email">
              <i>Please enter proper format (ex:abc@gmail.com)</i>
            </small>
          </div>
        </div>
        
        <label for="password">Enter new password :</label>
        <div class="input-group mb-3">
          <input [type]="passwordType" class="form-control" name="password" id="password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              #password="ngModel" ngModel />
              <div class="input-group-append">
                <span class="input-group-text" (click)='showPassword()'>
                  <i [class]="iconClass"></i>
                </span>
             </div>
          <div *ngIf="password.invalid && password.touched">
            <small class="text-danger" *ngIf="password.errors.required">
              <i>Please enter password</i>
            </small>
            <small class="text-danger" *ngIf="password.errors.pattern">
              <i>Password consists of atleast 8 characters, one uppercase, one special characters</i>
            </small>
          </div>
        </div>
  
        <label for="pass">Confirm password :</label>
        <div class="input-group mb-3">
          <input [type]="passwordType1" class="form-control" name="pass" id="pass" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              #pass="ngModel" ngModel />
              <div class="input-group-append">
                <span class="input-group-text" (click)='showPassword1()'>
                  <i [class]="iconClass1"></i>
                </span>
             </div>
          <div *ngIf="pass.invalid && pass.touched">
            <small class="text-danger" *ngIf="pass.errors.required">
              <i>Please enter password</i>
            </small>
            <small class="text-danger" *ngIf="pass.errors.pattern">
              <i>Password consists of atleast 8 characters, one uppercase, one special characters</i>
            </small>
          </div>      
        </div>
  
        <div *ngIf="pass.touched">
        <div *ngIf="password.value !== pass.value">
          <small class="text-danger">
            <i>Password doesn't match</i>
          </small>
        </div>
        </div>
  
        <div *ngIf='password.value == pass.value'>
          <button type="submit" class="btn btn-primary float-right" [disabled]='resetForm.invalid'>
            Reset Password
          </button>
        </div>
  
        <div *ngIf='password.value !== pass.value'>
          <button type="submit" class="btn btn-primary float-right" disabled>
            Reset Password
          </button>
        </div>
  
        <button class="btn btn-success" (click)="login()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back to Login
        </button>
  
      </div>           
     </form>
      
    </div>
  </div>
  
